.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
}

.padding {
  margin-top: 60px;
}

.about_container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_body {
  border-width: 3px;
  border-style: solid;
  border-color: #282c34;
  text-align: left;
  width: 60%;
}

.contact_body {
  border-width: 3px;
  border-style: solid;
  border-color: #282c34;
  text-align: left;
  width: 20%;
  flex-direction: row;
  white-space: pre-wrap;
}